h1 {
    text-align: center;
}

#vote-tracker {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
    border: thin solid red;
}
/* 
.img {
    border: thin solid salmon;
    text-align: center;
} */

/* #thing1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
} */